.senlab-calendar {
  width: 100%;
}

:host ::ng-deep .senlab-calendar {
  width: 100%;
}

:host ::ng-deep .senlab-calendar .p-datepicker {
  width: 100%;
}

:host ::ng-deep .senlab-calendar .p-datepicker-calendar {
  width: 100%;
}

:host ::ng-deep .senlab-calendar table {
  width: 100%;
  table-layout: fixed;
}
